*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# generated training data
*.train

## output of Berkeley Aligner
Berkeley/berkeleyaligner/output/*

## All the pickles that we're going to pickle.
L1pickle/*.pickle
L2pickle/*.pickle

## All the output we're going to generate
L1output/*.best
L1output/*.oof
L2output/*.best
L2output/*.oof
MRFoutput/*.best
MRFoutput/*.oof
